Package: udoo-arduino-cli
Version: 1.6.1-pre3
Section: electronics
Maintainer: Tom Freudenberg <ppa-manager@localhost.domain>
Homepage: https://github.com/TomFreudenberg/udoo-arduino-cli
Priority: extra
Architecture: all
Essential: no
Description: Command line environment to build and flash arduino sketches from within udoo linux console.
